
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.app-form > div{
	margin-top: 1em;
}

.card .padding{
	padding:1em;
}

.actions{
	margin-top:1em;
}

.padding{
	padding:1em;
}

